# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ProyectosWeb2\local-environment-master@a56ae014af7\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
